*
!maskrcnn_benchmark/engine/trainer.py
!maskrcnn_benchmark/modeling/matcher.py
!maskrcnn_benchmark/modeling/roi_heads/box_head/loss.py
!maskrcnn_benchmark/modeling/rpn/loss.py
!maskrcnn_benchmark/config/defaults.py
!maskrcnn_benchmark/data/transforms/__init__.py
!maskrcnn_benchmark/data/transforms/build.py
!maskrcnn_benchmark/data/transforms/transforms.py
!maskrcnn_benchmark/engine/trainer.py
!maskrcnn_benchmark/engine/bbox_aug.py
!maskrcnn_benchmark/config/paths_catalog.py
!maskrcnn_benchmark/data/datasets/__init__.py
!maskrcnn_benchmark/data/datasets/kuzushiji.py
!maskrcnn_benchmark/data/datasets/evaluation/__init__.py
!maskrcnn_benchmark/data/datasets/evaluation/kuzushiji/__init__.py
!maskrcnn_benchmark/data/datasets/evaluation/kuzushiji/kuzushiji_eval.py
!requirements.txt
